
.fpad h1{
	color:white;
	padding-left:20px;
}
.fpad h4{
	color:white;
	padding-left:20px;
}
.fpad h3{
	color:#FF334E;
	padding-left:20px;
}

.banner{
	background:url("//asset/photos/pizza.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:100%;
	width:100%;
}
.btno{
	background-color:#FF334E;
	padding-left:20px;
}
.nav-item{
	font-size:25px;
	
}
.navbar-brand i{
	    color:#FF334E;
}

.btna {
	background-color:#FF334E;
	margin-left:auto;
	margin-right:auto;
    display:block;
	text-decoration: none;
	color:white;
	
	

}
.tr{
	display:inline-block;
	text-decoration: none;
	
}
.menuh h3{
	text-align:center;
	font-size:23px;
}

.menuh h2{
	text-align:center;
	font-size:23px;
}

.cartimg img{
	width:375px;
	height:375px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.dr {
	color:#FF334E;
}
.picon{
	color:white;
}
.fcard{
	padding-left:30px;
}
.fcard h5{
	color:#FF334E;
}
.why{
	color:#FF334E;
}
.card img{
	height:220px;
	width:286px;
}
.card i{
	color:#ff9900;
}
.btnp{
	color:white;
	background-color:#FF334E;
	border-radius:12px;
}
.card{
	text-align:center;
	
	
}
.menuh h2{
	color:#FF334E;
}

